/* Estilos generales */
body {
    background-color:  #f5f5f5;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: auto;
    padding-top: 20px;
}

main {
    padding-top: 50px;
    width: 300px;
    margin: auto;
}

label{
    display: block;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 18px;
}

input{
    width: 250px;
    height: 30px;
    color: darkgray;
}

input[type="submit"] {
    background-color: #fd0c49;
    border: 1px solid darkgrey;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}

select {
    text-align: center;
}

/* Estilos de id */
#logo {
    width: 90px;
    border-radius: 10px;
}

#error{
    text-align: center;
    color: #fd0c49;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#levelBlock {
    display: flex;
    flex-direction: column;
    width: 270px;
}

#radioRow {
    display: flex;
    justify-content: center;
}

#cardOption {
    color: darkgrey;
}

#avatar{
    float: left;
}

#avatarContainer {
    display: flex;
    background-color: #fff;
    border: solid 1px #fff;
    border-radius: 5px;
    width: 125px;
    height: 125px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#avatarGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    height: 50px;
}

/* estilos de class*/
.formBlock {
    margin: auto;
}

.inputForm {
    width: 270px;
    height: 40px;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid;
    border-color:lavender ;
    border-radius: 5px;
}

.radioBlock {
    display: flex;
    padding: 10px;
}

.radioInput {
    margin: 0.4rem;
    width: 50px;
}

.radioLabel {
    margin-top: auto;
    font-size: 18px;
    font-weight: 500;
    color: darkgrey;
}

.avatarItem {
    background-color: #fff;
    border: solid 1px #fff;
    width: 40px;
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;
}